 @keyframes rotated {
  0% { transform: rotate(0deg);
       box-shadow: 2px 4px 40px 0px yellow;
  }
  100% { transform: rotate(360deg);
         box-shadow: 2px 4px 40px 20px cyan;
  } 
}
@keyframes solid2dotted {
  0% {
    border: solid 5vmax #1f67db;
  }
  100% {
    border: solid 0px #1f67db;
  }
}
@keyframes opacities {
  from { opacity: 0;} 
  to {opacity: 0.3;}
}
